* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
  font-family: "Work Sans", sans-serif;
}
section {
  margin-top: 50px;
}
header {
  width: 100%;
  /* max-height: 145vh; */
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.architects-logo {
  color: #131313;
  font-size: 2.6rem;
  font-weight: 700;
}
.menu-bar ul li a {
  color: #424242;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-right: 10px;
}
/* .bar li a {
  display: flex;
} */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  display: inline;
}
/* banner section starting */
.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;
}
.banner-heading {
  color: #131313;
  font-family: Work Sans;
  font-size: 55px;
  font-weight: 700;
}
.about-banner {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
}
.btn-primary {
  border: none;
  margin-top: 9px;
  color: white;
  padding: 18px 23px;
  outline: none;
  background: #ff900e;
  border-radius: 8px;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.banner-img {
  width: 100%;
  margin-top: 50px;
}
/* features section starting */
main {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 50px 240px; */
}
.features-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.left-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-left: 70px;
}
.left-features img {
  width: 250px;
}
.right-features {
  padding-left: 70px;
  padding-right: 70px;
}
.right-features-heading {
  color: #727272;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 500;
}
.of-our-color {
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}
.features-color {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}
.right-features-desc {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}
/* Features you will love & enjoy */

.love-and-injoy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 130px; */
  padding: 0 160px;
}

.love-and-injoy-heading {
  color: #131313;
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  padding-left: 20px;
  border-left: 5px solid #ff900e;
}
.right-love-and-injoy {
  width: 100%;
}
.right-love-and-injoy img {
  width: 100%;
  padding: 22px;
}
.love-and-injoy-desc {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 8px;
}
.card {
  padding: 10px 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-top: 17px;
  width: 85%;
}
.card-heading {
  color: #131313;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}
.card-body {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.badge {
  width: 200px;
  height: 130px;
  border-radius: 8px;
  background: #ff900e;
  position: relative;
  bottom: 70px;
  right: 30px;
  padding: 10px;
}
.badge-heading {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 70px;
}
.badge-para {
  color: #fff;
  font-family: Work Sans;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
}
/* some factis starting */
.some-fact {
  padding: 0 160px;
}
.some-fact-heading {
  color: #131313;
  font-family: Work Sans;
  font-size: 37px;
  font-weight: 700;
}
.some-fact-para {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.some-fact-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}
.icon {
  width: 45px;
}
.some-card {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  color: #424242;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
  margin-top: 5px;
}
.some-desc {
  color: #727272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
}
/* Our Sponspors staring */
.our-sponspors-heading {
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.our-sponspors-desc {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 9px;
}
.our-sponspors-lists {
  display: flex;
  justify-content: space-around;
  padding: 23px 150px;
}
/* footer section */
.footer {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 16px;
}
.footer-desc {
  color: #424242;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  padding: 40px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }
  .navbar {
    flex-direction: column;
  }
  .menu-bar {
    margin-top: 20px;
  }
  .features-row {
    flex-direction: column;
  }
  .left-features {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 7px;
  }
  .right-features {
    padding: 12px;
  }
  .right-features-heading,
  .of-our-color,
  .features-color {
    font-size: 37px;
    text-align: center;
  }
  .love-and-injoy-container {
    flex-direction: column;
    padding: 13px;
  }
  .left-love-and-injoy {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .right-love-and-injoy .badge {
    margin: 0 auto;
  }
  .some-fact {
    padding: 14px;
    text-align: center;
    margin-top: 5px;
  }
  .some-fact-cards {
    flex-direction: column;
    gap: 10px;
  }
  .our-sponspors-lists {
    flex-direction: column;
  }
  .sponspors-img {
    width: 100px;
    margin: 14px auto;
  }
  body {
    padding: 8px;
  }
  .footer {
    padding: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .banner-img {
    width: 100%;
    height: 100%;
    margin-top: 7px;
  }
  .banner-heading {
    font-size: 40px;
  }
  .content {
    margin-top: 0px;
  }
  .features-row {
    flex-direction: column;
  }
  .left-features {
    margin-bottom: 2rem;
  }
  .love-and-injoy-container {
    flex-direction: column;
    padding: 45px;
  }
  .card {
    width: 100%;
  }
  .some-fact-cards {
    flex-direction: column;
    gap: 10px;
  }
  .sponspors-img {
    width: 100px;
    margin: 14px auto;
  }
  body {
    padding: 8px;
  }
  .footer {
    padding: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
